<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.simplyapps.appengine"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Required permission to use in-app billing. -->
    <uses-permission android:name="com.android.vending.BILLING" />

</manifest>